---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Teams from "@/sections/Teams.astro";
---

<BaseLayout title="About  Us">
  <h1 class="headline">About Us</h1>
  <Teams />
</BaseLayout>
