---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Teams from "@/sections/Teams.astro";
import WhyChooseUs from "@/sections/WhyChooseUs.astro";
---

<BaseLayout title="About  Us">
  <header class="section">
    <h1 class="headline">Your trusted medical platform</h1>
    <p class="subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </header>
  <WhyChooseUs />
  <Teams />
</BaseLayout>

<style>
  .section {
    padding-top: 12rem;
    padding-bottom: 12rem;
    background-color: #f5faff;
    text-align: center;
  }

  .headline {
    margin-bottom: 2.4rem;
  }
  .subtitle {
    width: 65ch;
    margin: 0 auto;
  }
</style>
