---
import BaseLayout from "@/layouts/BaseLayout.astro";
import WhyChooseUs from "@/sections/WhyChooseUs.astro";
import Features from "@/sections/Features.astro";
import Platform from "@/sections/Platform.astro";
import Blogs from "@/sections/Blogs.astro";
import { Image } from "astro:assets";
import hero from "@/assets/cover.jpg";
---

<BaseLayout title="Home">
  <header class="header">
    <div class="block">
      <h1 class="headline">
        Time to raise your clinic business with modern systen
      </h1>
      <p class="subtitle">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
      <div class="buttons">
        <a href="#" class="btn btn-filled btn-lg">Get Started</a>
        <a href="#" class="btn btn-outline btn-lg">learn More</a>
      </div>
    </div>
    <div class="hero-img">
      <Image
        src={hero}
        alt="hero-image"
        style={"height: 100%; width: 100%; object-fit: cover"}
      />
    </div>
  </header>

  <WhyChooseUs />
  <Platform />
  <Features />
  <Blogs />
</BaseLayout>

<style>
  .header {
    display: flex;
    gap: 6rem;
    position: relative;
    padding: 6rem 0 12rem 12rem;
    padding-top: 6rem;
    padding-bottom: 12rem;
  }
  .hero-img {
    width: 63.2rem;
    height: 60.4rem;
    display: block;
    position: absolute;
    top: 0rem;
    right: 0;
  }
  .headline {
    width: 16ch;
  }
  .subtitle {
    width: 54ch;
  }
  .block {
    width: 60rem;
    height: fit-content;
    display: grid;
    gap: 3rem;
  }
  .buttons {
    display: flex;
    gap: 1.6rem;
  }
</style>
